.set{
   font-size: 18px;
    margin-left: 20px;
    
}
.set6{
  color: #fff !important;
}
.nav-set{
    background-color: rgba(10, 10, 0, 0.9);
}
.navbar-light .navbar-nav .nav-link 
{
    color: lightgrey !important;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: red !important;
}
.slider-set{
    height: 400px;
}
.slider-set video{
    height: 400px;
}
.video-set{
    width: 100%;
    height: 500px;
}
.slider-set{
    height: 500px;
}
.slider-set img{
    height: 500px;
}

/* about start */
#about{
    width: 100%;
    height: 450px;
    background-image:url(../images/james-stamler-k3heD_KwH0A-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
h3{
    color: white;
    padding-top: 15px;
    text-align: center;
    
}
#change{
    width: 100%;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.5);
}
.text-set{
    color: white;
    padding: 15px;
    margin: 20px;
}
.text-set2{
    color: #fff;
    margin-left: 50px;
    font-size: 20px;
    margin-top: 40px;
}
.text-set3{
    color: white;
    margin-left: 50px;
    font-size: 15px;
    margin-top: 5px;
}
@media screen and (max-width: 800px) {
    .text-set{
        font-size: 10px;
    }
    .text-set2{
        font-size: 10px;
        float: left;
        
     
    }
    .text-set3{
        font-size: 10px;
        float: left;
        
    }
}
/* about end */

/*gallery start*/
.gallery-title{
    text-align: center;
    background-color: rgba(10, 10, 0, 0.9);
}
  .color-set{
    background-color: rgba(10, 10, 0, 0.9);
  }
  .card{
    width: 100%;
    height: 400px;
    margin-top: 20px;
    border-radius: 20px;
    
  }
  .imgbox{
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  .imgbox img{
    width: 100%;
    height: 400px;
    
  }
  .imgbox img:hover{
    transform: scale(1.1);
    transition: 1s;
  }
  .card2{
    width: 100%;
    height: 300px;
    margin-top: 20px;
   
  }
  .imgbox2{
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  .imgbox2 img{
    width: 100%;
    height: 300px;
  }
  .imgbox2 img:hover{
    transform: scale(1.1);
    transition: 1s;
  }
/*gallery end*/
/*contact start*/
  #contact{
    width: 100%;
    height: 550px;
    background-image:url(../images/marius-masalar-rPOmLGwai2w-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .form-control{
    margin-top: 30px;
  }
  .adjust{
       margin-top: 20px;
       margin-left: 750px;
       border-radius: 5px;
       font-size: 20px;
  }
  .adjust:hover{
    border-radius: 15px;
    transition: 0.5s;
   }
   @media screen and (max-width: 800px) {
    .adjust{
      margin-left: 300px;
    }
}
/*contact end*/
/*trending songs start*/
#trending-songs{
  width: 100%;
  height: 600px;
  background-color: rgba(10, 10, 0, 0.9);
  }
  #pills-singer1-tab{
    color: #fff;
  }
  #pills-singer2-tab{
    color: #fff;
  }
  #pills-singer3-tab{
    color: #fff;
  }
.card{
  width: 80%;
  height: 400px;
  background-color: grey !important;
  border-radius: 20px !important;

}
.img-box3{
  width: 100%;
  height: 250px;
  border-radius: 20px;
}
.img-box3 img{
  width: 100%;
  height: 250px;
  border-radius: 20px;
}
.content{
  width: 100%;
  height: 150px;
  padding-left: 10px;
  padding-bottom: 5px;
}
.content img{
  width: 40px;
  height: 40px;
  margin-left: 120px;
  margin-bottom:10px;
  
}
/*trending songs end*/
/*top charts start*/
#topcharts{
  width: 100%;
  height: 1000px;
  background-color: rgba(10, 10, 0, 0.9);
  }
/*top charts end*/
/*new releases start*/
#new-releases{
  width: 100%;
  height: 1000px;
  background-color: rgba(10, 10, 0, 0.9);
  }
/*new releases end*/
/*latest albums start*/
#latest-albums{
  width: 100%;
  height: 600px;
  background-color: rgba(10, 10, 0, 0.9);
  }
  #pills-album1-tab{
    color: #fff;
  }
  #pills-album2-tab{
    color: #fff;
  }
  #pills-album3-tab{
    color: #fff;
  }

/*latest albums end*/
/*genres start*/
#genres{
  width: 100%;
  height: 600px;
  background-color: rgba(10, 10, 0, 0.9);
  }
  #pills-pop-tab{
    color: #fff;
  }
  #pills-rock-tab{
    color: #fff;
  }
  #pills-rap-tab{
    color: #fff;
  }
/*genres end*/
/*old-songs start*/
#old-songs{
  width: 100%;
  height: 1000px;
  background-color: rgba(10, 10, 0, 0.9);
  }
/*old-songs end*/
/*top artists start*/
#top-artists{
  width: 100%;
  height: 1000px;
  background-color: rgba(10, 10, 0, 0.9);
  }
/*top artists end*/
/*languages start*/
#languages{
  width: 100%;
  height: 1000px;
  background-color: rgba(10, 10, 0, 0.9);
  }
/*languages end*/
/*top searched songs start*/
#top-searched-songs{
  width: 100%;
  height: 1000px;
  background-color: rgba(10, 10, 0, 0.9);
  }
/*top searched songs end*/
/*footer start*/
#footer{
  width: 100%;
  height: 300px;
  background-color: rgba(10, 10, 0, 0.9);
}
.footer-set{
  color: #fff;
}
.footer-set h4{
  margin-top: 20px;
}
.hr-set{
  width: 100px;
  color: red;
  height: 30px;
}
.set5{
  color: #fff !important;
}
.logo-set{
  height: 40px;
  margin-left: 5px;
}
/*footer end*/


@media (min-width: 576px) { 
  .audio{
    width: 80%;
  }
 }


@media (min-width: 768px) { 
  .audio{width: 80%;}
}


@media (min-width: 992px) { 
  .audio{
    width: 80%;
  }
 }
